.books-list {
  width: 500px;
  margin: auto;
}

.search-container {
  margin-bottom: 20px;
}

.current-image img,
.confirmed-image img {
  max-width: 60%;
  height: auto;
}

.previous-images {
  margin-top: 20px;
}

.image-list {
  display: flex;
  flex-wrap: wrap;
}

.previous-image {
  width: 100px;
  height: 140px;
  margin: 5px;
}
